.Calculator {
  border: 2px solid #47476b;
  width: 320px;
  background: black;
  padding: 4px;
}
.formulaScreen {
  color: orange;
  text-align: right;
  font-size: 18px;
  margin-bottom: 5px;
  font-family: Noto Sans JP, sans-serif;
  height: 26px;
}
.outputField {
  color: white;
  text-align: right;
  font-size: 20px;
  font-family: Noto Sans JP, sans-serif;
  height: 29px;
}
button {
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid black;
  border: none;
  font-size: 20px;
  background: #4d4d4d;
}
button:hover {
  color: black;
  border: 2px solid gray;
}
.btns {
  position: relative;
}
#clear {
  background: rgb(172, 57, 57);
  width: 160px;
}
#equals {
  position: absolute;
  bottom: 0px;
  height: 130px;
  background: rgb(0, 68, 102);
}
#zero {
  width: 160px;
}

#divide,
#multiply,
#subtract,
#add {
  background: rgb(102, 102, 102);
}